:root {
  --brand-primary: 255 255 255;
  --brand-primary-text-color: 0 0 0;
  --brand-secondary: 0 0 0;
  --brand-secondary-text-color: 51 51 51;
  --brand-action-hints: 0 0 0;
  --brand-action-hints-text-color: 51 51 51;
  --brand-action-primary: 0 0 0;
  --brand-action-primary-text-color: 255 255 255;
  --brand-action-secondary: 255 255 255;
  --brand-action-secondary-text-color: 0 0 0;
  --brand-gradient-step-1: 0 122 75;
  --brand-gradient-step-2: 0 191 125;
  --brand-gradient: linear-gradient(90deg, rgb(var(--brand-gradient-step-1)) 0%, rgb(var(--brand-gradient-step-2)) 100%);
  --brand-gradient-reversed: linear-gradient(270deg, rgb(var(--brand-gradient-step-1)) 0%, rgb(var(--brand-gradient-step-2)) 100%);
  --brand-ai-box-shadow-1: 0px 4px 50px 5px rgba(0, 123, 75, 0.4);
  --brand-ai-drop-shadow-1: 0px 4px 50px rgba(0, 123, 75, 0.4);
  --brand-ai-box-shadow-2: 0px 10px 20px 5px rgba(0, 191, 125, 0.2);
  --brand-ai-drop-shadow-2: 0px 10px 20px rgba(0, 191, 125, 0.2);
}

.twini-base .twi-text-sm {
  font-size: 12px;
  line-height: 18px;
}
.twini-base {
  font-family: 'Poppins';
}
